spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wind_monitoring
    username: root   # or your user
    password: Pass@123    # your password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    org.springframework: INFO
    com.example.windturbine: DEBUG

